<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.gs.calc"
    versionCode = "1"
    version     = "1.0.0" >

<!-- versionCode is optional and Android only -->
<!-- version is in major.minor.patch format-->
	
	<name>The Revenge of the Dark Elves</name>
	
	<description>Adventure Game</description>

  <author href="https://build.phonegap.com" email="sophietuyau.st@gmail.com">
      Sophie Tuyau
  </author>

  <icon src="www/icon-256.png" width="256" height="256" density="xxxhdpi" />
<icon src="www/icon-128.png" width="128" height="128" density="xhdpi" />
	
<preference value="default" name="orientation"/>

<preference value="true" name="fullscreen"/>





</widget>
